# Scala / SBT
target/
project/target/
project/project/

# Metals / BSP
.metals/
.bsp/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store


# Scala / SBT
target/
project/target/
project/project/

# Bloop / Metals / BSP
.bloop/
.metals/
.bsp/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
